.content {
  max-width: 640px;
  margin: auto;
  text-align: center;
  font-family: calibri;
}

p.textBlock {
    width:640px;
    text-align: justify;
}

ul {
    padding: 0;
}

div.validationError {
	color: steelblue;
	text-align: center;
}

.pad-small {
     padding: 10px 0;
}

.pad-big {
    padding: 25px 0;
}





