<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add movie</title>
</head>
<body>
<center>
    <font face="calibri">
        <h1>ADD A NEW MOVIE</h1>

        <!--        <form action="#" th:action="@{/addMovie}" th:object="${movie}" method="post">-->
        <form action="#" method="post" th:action="@{/addMovie}">
            <label>Title:</label><br/>
            <input name="name" type="text">

            <label>Description:</label><br/>
            <textarea cols="20" name="description" rows="10" type="text"></textarea>

            <label>Rating:</label><br/>
            <block th:each="i: ${#numbers.sequence(1, 10)}">
                <input name="rating" th:value="${i}" type="radio">
                <!--<input th:field="*{rating}" type="radio" th:value="${i}">-->
                <span th:text="${i}">rating</span>
            </block>

            <label>Link to IMDb:</label><br/>
            <input name="link" type="text">

            <p>
                <input type="submit" value="Submit"/>
                <input type="reset" value="Reset">
            </p>

        </form>
    </font>
</center>
</body>
</html>