<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>
<center>
    <font face="calibri">

        <h1>MY MOVIES</h1>
        <h2>WHAT IS THIS PAGE ALL ABOUT?</h2>
        <p class="textBlock">
            This page is an outer memory storage of movies I have seen and remember as being
            quite nice. There you can find genres of movies that I watch most often, my
            <a href="#fav">favourite</a> movie (kind of - to name something as favorite is an
            extremely tough choice to make). And a <a href="#list">list</a> of movies I have
            seen and wouldn't mind to watch again. New movies can be added to the list, too.
        </p>

        <h3>POPULAR GENRES</h3>
        <ul>
            <li>Sci-Fi</li>
            <li>Adventure</li>
            <li>Comedy</li>
            <li>Fantasy</li>
            <li>Mystery</li>
            <li>Drama</li>
        </ul>

        <h2 id="fav">MY FAVORITE MOVIE</h2>
        <h3>INCEPTION</h3>
        <p class="textBlock">
            A thief who steals corporate secrets through the use of dream-sharing technology
            is given the inverse task of planting an idea into the mind of a C.E.O.
        </p>
        <a href="https://www.imdb.com/title/tt1375666/?ref_=fn_al_tt_1">
            <img height="401"
                 src="https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg"
                 width="271">
        </a>
        </p>

        <div th:if="${not #lists.isEmpty(movies)}">
            <h2 id="list">LIST OF MY MOVIES</h2>
            <table cellpadding="5" cellspacing="5">
                <col width="120">
                <col width="400">
                <col width="120">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Link to IMDb</th>
                </tr>
                <tr th:each="movie : ${movies}">
                    <td align="center" th:text="${movie.name}"></td>
                    <td align="justify" th:text="${movie.description}"></td>
                    <td align="center">
                        <span th:if="${!(''.equals(movie.link))}">
                            <a th:href="${movie.link}">IMDb</a>
                        </span>
                    </td>
                </tr>
            </table>
        </div>

        <a href="http://localhost:8080/addMovie">
            <button>Add a new movie</button>
        </a>
    </font>
</center>
</body>
</html>